* {
    user-select: none;
    -webkit-app-region: no-drag;
    padding: 0;
    margin: 0;
}

.crosshair-inner {
    width: 4px;
    height: 4px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid black;

    position: fixed;
    top: 51.5%;
    left: 50%;
    transform: translateX(-50%);
}